@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
}
html, body{
     width: 100%;
     height: 100%;
}

@layer utilities {
  .skeleton {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }
  .skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-block: 20px;
    border-radius: 4px;
    background: linear-gradient(90deg, #eee, #dedede, #eee);
    background-size: 200%;
    animation: skeleton .7s infinite linear reverse;
  }
  
  @keyframes skeleton {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}
